/* make scrolling smooth */

html {
  scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */

main {
  padding: 2vw;
}

/* navbar */

.navbar {
  background-color: #3862f5;
  color: white;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 6vw;
  width: 6vw;
}

.logo h1 {
  font-size: 1.2em;
}

/* navigation list */

.navbar-links li {
  list-style: none;
  display: block;
  padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 1.25rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

.navbar-links a:hover,
.navbar-links a:focus {
  background-color: #f5c239;
  color: #3862f5;
  border: dotted #3862f5;
  border-radius: 15px;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
