body {
  background-color: #f5c239;
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans Mono', sans-serif;
}

div {
  padding: 20px;
}

footer {
  padding-top: 20px;
  background-color: #3862f5;
  color: white;
}

.chief {
  box-shadow: 5px 5px 5px #3862f5;
  border-radius: 15px;
}

.avatar {
  background-color: #3862f5;
  border: solid white;
  border-radius: 30px;
  width: 15rem;
}

.hobbies ul {
  list-style-type: circle;
  list-style-position: inside;
}

.gallery figure img {
  border: solid #3862f5;
  border-radius: 40px;
  max-width: 100%;
  width: 100%;
}

.lit {
  font-family: 'Noto Sans Mono', sans-serif;
  text-align: left;
  text-shadow: 0.1em 0.1em 0 white;
}

.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dracula {
  max-width: 100%;
  columns: 40rem;
}

.dropcap:first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
  box-shadow: 5px 5px 5px #3862f5;
  border: solid #3862f5;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  text-shadow: 3px 3px 3px #3862f5;
}

@media screen and (min-width: 60em) {
  .bio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }
  .card {
    border: solid #3862f5;
    border-radius: 30px;
  }
  .card:hover {
    border: solid white;
    text-shadow: 0.1em 0.1em 0 white;
    font-size: 120%;
  }
  figure img:hover {
    border: solid white;
  }
  .gallery {
    display: grid;
  }
  hr {
    display: none;
  }
  .gallery h2 {
    grid-column: 1/-1;
  }
  figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .chief:hover {
    box-shadow: 10px 10px 10px #3862f5;
    border: solid white;
  }
  button:hover {
    color: #f5c239;
    border: dotted #f5c239;
  }
}

@media screen and (min-width: 100em) {
  .dracula {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }
}
fieldset {
  display: grid;
}
input {
  height: 1.5em;
}
form {
  text-align: left;
}
.radio {
  list-style: none;
}
textarea {
  height: 20vh;
}
button {
  background-color: #3862f5;
  color: white;
  border: solid #3862f5;
}
