body {
  background-color: #f5c239;
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans Mono', sans-serif;
}

div {
  padding: 20px;
}

footer {
  padding-top: 20px;
  background-color: #3862f5;
  color: whitesmoke;
}

.chief {
  box-shadow: 5px 5px 5px #3862f5;
  border-radius: 15px;
}

.initial-logo {
  text-decoration: none;
  text-shadow: 5px 5px 5px whitesmoke;
  color: #f5c239;
  font-size: 5rem;
  box-shadow: 5px 5px 5px whitesmoke;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.avatar {
  background-color: #3862f5;
  border: solid whitesmoke;
  border-radius: 30px;
  width: 15rem;
}

.hobbies ul {
  list-style-type: circle;
  list-style-position: inside;
}

.gallery figure img {
  border: solid #3862f5;
  border-radius: 40px;
  max-width: 100%;
  width: 100%;
}

.lit {
  font-family: 'Noto Sans Mono', sans-serif;
  text-align: left;
}

.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog {
  max-width: 100%;
  columns: 40rem;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #3862f5;
}

.dropcap:first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
  box-shadow: 5px 5px 5px #3862f5;
  border: solid #3862f5;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  text-shadow: 3px 3px 3px #3862f5;
}

@media screen and (min-width: 60em) {
  .initial-logo:hover {
    color: whitesmoke;
    text-shadow: 5px 5px 5px #f5c239;
    box-shadow: 5px 5px 5px #f5c239;
  }

  .bio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .card {
    border: solid #3862f5;
    border-radius: 30px;
  }

  .card:hover {
    border: solid whitesmoke;
    text-shadow: 0.1em 0.1em 0 whitesmoke;
    font-size: 120%;
  }

  figure img:hover {
    border: solid whitesmoke;
  }

  .gallery {
    display: grid;
  }

  hr {
    display: none;
  }

  .gallery h2 {
    grid-column: 1/-1;
  }

  figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
  }

  .chief:hover {
    box-shadow: 10px 10px 10px #3862f5;
    border: solid whitesmoke;
    animation: shake 0.8s;
  }

  button:hover {
    color: #f5c239;
    border: dashed #f5c239;
    text-shadow: 1px 1px whitesmoke;
    animation: shake 0.8s;
  }
}

@media screen and (min-width: 100em) {
  .blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }
}

input,
select {
  height: 5vh;
  font-size: 1.2rem;
  min-height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
}

form {
  text-align: left;
}

.radio {
  list-style: none;
}

textarea {
  height: 20vh;
  font-size: 1.2rem;
  margin-bottom: 20px;
  resize: vertical;
  width: auto;
}

button {
  background-color: #3862f5;
  color: whitesmoke;
  border: solid #3862f5;
  margin-top: 20px;
  border-radius: 15px;
}

fieldset {
  border: 5px dashed #3862f5;
  border-radius: 15px;
  font-size: 1.2rem;
  display: grid;
  width: auto;
}

iframe {
  max-width: 90%;
}

#town {
  font-size: 1.5rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}

button:active {
  background-color: #f5c239;
  color: #3862f5;
  border: dashed #3862f5;
}

label {
  border: dashed #3862f5;
  padding: 10px;
  border-radius: 10px;
}

#yes,
#no {
  width: 3rem;
  padding: 0px;
}

section#contact {
  margin: 0 auto;
  width: auto;
}

form {
  margin: 0 auto;
  width: auto;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

#msgbtn {
  font-size: 2rem;
  font-weight: bold;
  width: 70%;
  margin: auto;
}